:root {
  --main-color: #000305;
  --second-color: #050d26;
  --text-color: #f2eddc;
}

.header {
  background-color: var(--second-color);
  padding: 2.5rem;
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: linear-gradient(
    to bottom,
    var(--second-color),
    var(--main-color)
  );
}

.header > h1 {
  font-weight: 400;
  margin-bottom: 1rem;
}

.navLink {
  margin-right: 0.5rem;
  padding: 0.35rem 0.35rem;
  text-decoration: none;
  font-size: medium;
  color: var(--text-color);
  font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.createAccountBtn {
  margin-right: 0.5rem;
  padding: 0.35rem 0.35rem;
  text-decoration: none;
  font-size: medium;
  color: var(--text-color);
  font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navLink:hover {
  color: #663add;
}

nav {
  padding-bottom: 2rem;
}